<!DOCTYPE html>
<html>
<head>
<title>News2Change</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


  <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="../" class="w3-bar-item w3-button"><b>News2Change</b></a>
    </div>
  </div>
</div>

	<h1>{{address}}</h1>
  <h1>{{address}}</h1>

	  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src={{senator1link}} onerror="./static/img/congress_seal.png" alt="Representative 1" style="width:100%">
      <h3>{{senator1}}</h3>
      <p class="w3-opacity">Senator</p>
      <p>{{party1}}</p>
      <p><a href={{contact1}} target="_blank"><button class="w3-button w3-light-grey w3-block" action="">Contact</button></a></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src={{senator2link}} onerror="./static/img/congress_seal.png" alt="Representative 2" style="width:100%">
      <h3>{{senator2}}</h3>
      <p class="w3-opacity">Senator</p>
      <p>{{party2}}</p>
      <p><a href={{contact2}} target="_blank"><button class="w3-button w3-light-grey w3-block" action="">Contact</button></a></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src={{local_replink}} onerror="./static/img/congress_seal.png" alt="Representative 3" style="width:100%">
      <h3>{{local_rep}}</h3>
      <p class="w3-opacity">House of Representatives</p>
      <p>{{party3}}</p>
      <p><a href={{contact3}} target="_blank"><button class="w3-button w3-light-grey w3-block" action="">Contact</button></a></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src={{governorlink}} alt="Representative 4" style="width:100%">
      <h3>{{governor}}</h3>
      <p class="w3-opacity">Governor</p>
      <p>{{party4}}</p>
      <p><a href={{contact4}} target="_blank"><button class="w3-button w3-light-grey w3-block" action="">Contact</button></a></p>
    </div>
  </div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="News2Change" target="_blank" class="w3-hover-text-green">News2Change</a></p>
</footer>

</body>
</html>
